* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url("../img/banner.jpg");
    /*Posicion del baner*/
    background-position: center;
    background-size: cover;
    height: 650px;
    }

header h1 {
    padding-top: 260px;
    font-size: 85px;
    color: #000;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.seccion1 {
    background-color: #ffd433;
}

.seccion1 h2 {
    color:#fff;
    font-weight: bold;
    font-size: 30px;
}




.seccion2 .tituloSeccion2 {
padding-top: 25px;
padding-bottom: 45px;
font-size: 45px;
}



.seccion2 .icon {
/*formas web visuales*/
clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
background-color:#0fdd1d;
padding: 12px;
font-size: 50px;
color: #000;
}

.seccion3 {
background-image: url('../img/banner2.jpg');
background-position: center;
background-size: cover;
/*permite que el fondo se mueva. A esto se le llama efecto parallax */
background-attachment: fixed;
height: 250px;
}

.seccion3 h2 {
color: #fff;
font-weight: bold;
font-size: 45px;
}


.seccion4 .tituloSeccion4 {
padding-top: 25px;
padding-bottom: 45px;
font-size: 45px;
}

.seccion4 .card {
/*desactivar el borde de la tarjeta CARD*/
border: none;
}


footer {
background-color: #FFD433;
}

footer {
color: #000;
font-size: 18px;
font-weight: 500;
padding-top: 15px;
}